* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Brandon_bld";
  src: url(../Brandon_bld.otf) format("opentype");
}

@font-face {
  font-family: "HeavyTrip";
  src: url(../HeavyTrip.ttf) format("truetype");
}

body {
  min-width: 750px;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
}

section {
  text-align: center;
  color: #fff;
}

section h1 {
  padding: 30px 0;
  font-size: 30px;
  font-family: "Brandon_bld";
  letter-spacing: 2px;
}

#top {
  height: 100vh;
  position: relative;
  background-image: url(top2.jpeg);
  background-size: cover;
  background-position: center center;
}

#top h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  font-family: "HeavyTrip";
  letter-spacing: 2px;
  font-size: 100px;
  color: #000;
}

table {
  width: 700px;
  text-align: left;
  display: inline-block;
}

td {
  padding-bottom: 30px;
  font-size: 23px;
  vertical-align: top;
}

.date {
  padding-right: 25px;
  width: 200px;
}

table span {
  color: #000;
  font-size: 18px;
}

#day1 {
  background-color: #879E46;
  padding: 70px 0;
}

#day2 {
  background-color: #FEBD3D;
  padding: 70px 0;
}

#day3 {
  background-color: #E57B87;
  padding: 70px 0;
}
